<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}">个人中心</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <!-- jquery组件 -->
    <script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation::nav"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-user" aria-hidden="true" th:text="${sectionName}"></span></h2>
            <hr/>


            <div class="media" th:each="question : ${pagination.getQuestions()}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" th:src="${question.getUser()!=null?question.getUser().getAvatar_url():''}">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading" th:text="${question.title}"></h3>
                    <span class="question-info" th:text="${question.comment_count}+' 个回复'+' • '+${question.view_count}+' 次浏览 • 41 分钟前'"></span>
                </div>
            </div>


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/profile/{section}/(page=1,section=${section})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/profile/{section}/(page=${pagination.getPage()-1},section=${section})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.getPages()}" th:class="${pagination.getPage()==page} ? 'active' : ''">
                        <a th:text="${page}" th:href="@{/profile/{section}/(page=${page},section=${section})}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/profile/{section}/(page=${pagination.getPage()+1},section=${section})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/profile/{section}/(page=${pagination.getTotalPage()},section=${section})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>





        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section=='questions'} ? 'list-group-item active' : 'list-group-item'">我的问题</a>
                <a href="/profile/replies" th:class="${section=='replies'} ? 'list-group-item active' : 'list-group-item'">
                    最新回复
                    <span class="badge">14</span>
                </a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>



</body>
</html>